*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, 0.505);
    height: 126px;
}

.logo{
    height: 126px;
}

.nav-items{
    padding-top: 49px;

}

.nav-items > ul {
    display: flex;
    font-size: 25px;
    list-style-type: none;
}

.nav-items > ul > li {
    margin-right: 30px;
}

.restaurant-card{
    width: 220px;
    /* height: 400px; */
    border: 1px solid white;
    margin-left: 43px;
    margin-bottom: 10px;

}

/* .restaurant-container > .restaurant-card:nth-child(1){
    margin-left: 30px;

} */

.search{
    padding: 10px;
}

.restaurant-logo{
    width: 180px;
    margin: 10px 0px 0px 20px;
}

.restaurant-card h3, h4{
    margin-left: 10px;
    margin-top: 5px;
}

.restaurant-card:hover{
    cursor: pointer;
    border: 1px solid black;
}

.restaurant-container{
    display: flex;
    flex-wrap: wrap;
}